body {
    font-family: 'Roboto', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin-left: 30px;
    color: #0572C1;
  }
  section {
    background-color: #EEF0F1;
  }
  a {
    color: #8DC8FF;
    text-decoration: underline;
  }
  h1 {
    font-family: 'Roboto', monospace;
    font-weight: 600;
    font-size: 80px;
  }
  h2 {
    font-family: 'Roboto', monospace;
    font-weight: 600;
    font-size: 60px;
  }
  h3 {
    font-family: 'Roboto', monospace;
    font-weight: 600;
    font-size: 50px;
  }
  h4 {
    font-family: 'Roboto', monospace;
    font-weight: 600;
    font-size: 40px;
  }